body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  color: rgb(255, 255, 255);
}

h1 {
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 25pt;
  font-weight: 900;
  line-height: 1.00;
}

.container {
  height: 100%;
  display: flex;
}

#toolbar {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 150px;
  background-color: #202020;
}

#toolbar * {
  margin-bottom: 6px;
}

#toolbar label {
  font-size: 15px;
}

#toolbar input {
  width: 100%;
}

#toolbar button {
  background-color: #1565c0;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  padding: 6px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: 900;
  line-height: 1.00;
}

#canvas {
  cursor: pointer;
}

#guide {
  display: grid;
  pointer-events: none;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#guide div {
  border: 1px solid rgba(0, 0, 0, 0.1);
}